/***************************** Common css classes for the web page *****************************/
.m0 { margin: 0; }
.text-center { text-align: center; }
.transition-4s { transition: .4s; }
.width-100 { width: 100%; }
/***************************** Common css classes for the web page *****************************/