@charset "UTF-8";
/***************************** Custom grid style for the web page *****************************/
.border-box {
  padding: 8%;
  text-align: justify;
  margin: 4%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .col-1 {
  flex: 0 0 8.3333333333%;
}
.row .col-2 {
  flex: 0 0 16.6666666667%;
}
.row .col-3 {
  flex: 0 0 25%;
}
.row .col-4 {
  flex: 0 0 33.3333333333%;
}
.row .col-5 {
  flex: 0 0 41.6666666667%;
}
.row .col-6 {
  flex: 0 0 50%;
}
.row .col-7 {
  flex: 0 0 58.3333333333%;
}
.row .col-8 {
  flex: 0 0 66.6666666667%;
}
.row .col-9 {
  flex: 0 0 75%;
}
.row .col-10 {
  flex: 0 0 83.3333333333%;
}
.row .col-11 {
  flex: 0 0 91.6666666667%;
}
.row .background-odd {
  background-color: #4e4e4e;
  color: #fff;
  transition: 0.3s;
  border-radius: 10px;
}
.row .background-odd:hover {
  box-shadow: 5px 5px 8px grey;
}
.row .background-even {
  background-color: pink;
  box-shadow: 5px 5px 8px grey;
  transition: 0.3s;
}
.row .background-even:hover {
  box-shadow: 0 0 0;
  border-radius: 10px;
}

/***************************** Custom grid style for the web page *****************************/
/***************************** Footer style for the web page *****************************/
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4e4e4e;
  color: #999999;
  margin-top: 5%;
}
footer h4 {
  color: pink;
}
footer .content-ml {
  margin-left: 25%;
}
footer p {
  line-height: 24px;
}
footer ul {
  list-style-type: none;
  margin-left: -15%;
  line-height: 24px;
}
footer ul li:hover {
  color: pink;
  cursor: pointer;
}
footer .social-li {
  display: inline;
}
footer .social-li .social-media-icons {
  background-color: #999999;
  padding: 2% 3%;
  border-radius: 5px;
  margin: 0 2%;
  color: #363636;
}
footer .social-li .social-media-icons:hover {
  color: pink;
  cursor: pointer;
}
footer .copyright {
  background-color: #363636;
  color: #999999;
  text-align: center;
  width: 100%;
}

/***************************** Footer style for the web page *****************************/
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.banner-image {
  height: 625px;
  width: 100%;
}

/***************************** Common style for the web page *****************************/
h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 5% 0 1% 0;
}
h2:after {
  content: "";
  width: 7%;
  position: absolute;
  left: 46%;
  padding-top: 2.5%;
  border-bottom: 4px solid #b2364a;
}

/***************************** Common style for the web page *****************************/
/********************************* Style for testimonial ********************************/
.description {
  background: #e6e6e6;
  font-size: 14px;
  line-height: 26px;
  text-indent: 30px;
  position: relative;
  border-bottom: 4px solid #b2364a;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  color: #363636;
}
.description:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: -15px;
}

.testimonial-img, .testimonial-img-2, .testimonial-img-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #b2364a;
  margin: 0 5%;
}

.testimonial-img-1 {
  background: url("../assets/testimonial-1.jpg") no-repeat;
  background-size: cover;
}

.testimonial-img-2 {
  background: url("../assets/testimonial-2.jpeg") no-repeat;
  background-size: cover;
}

.title-padding {
  margin: 0.5% 0 0 5%;
  position: absolute;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  color: #363636;
}
.title-padding .title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}
.title-padding .post {
  display: block;
  font-size: 14px;
}

/********************************* Style for testimonial ********************************/

/*# sourceMappingURL=style.css.map */
