//imported all partial fies required
@import 'variable', 'mixin', 'grid', 'footer', 'common-classes';

body {  
    font-family: $font-family-roboto; 
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
//height and width of the banner image for the page
.banner-image { 
    height: 625px; 
}

/***************************** Common style for the web page *****************************/
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $font-color-white;
    font-size: $font-size-60px;
}
h2 {
    font-size: $font-size-30px;
    margin: 5% 0 1% 0;

    &:after {
        content: "";
        width: 7%;
        position: absolute;
        left: 46%;
        padding-top: 2.5%;
        //mixin for bottom border under h2 heading
        @include border-bottom-color(4px, solid, $border-color);
    }
}
/***************************** Common style for the web page *****************************/

/********************************* Style for testimonial ********************************/
.description {
    background: $testimonial-bg;
    font-size: $font-size-14px;
    line-height: 26px;
    text-indent: 30px;
    position: relative;
    //mixin for bottom border under h2 heading
    @include border-bottom-color(4px, solid, $border-color);
    //mixin for bottom border under testimonial description box
    @include border-radius-color(70px, $font-color-black);

    &:before {
        content: "\f10d";
        font-family: $font-family-fontawesome;
        font-weight: 900;
        position: absolute;
        top: 0;
        left: -15px;
    }
}

.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5%;
    //mixin for bottom border under h2 heading
    @include border-bottom-color(4px, solid, $border-color);
}

.testimonial-img-1 { 
    @extend .testimonial-img;
    background: url("../assets/testimonial-1.jpg") no-repeat; 
    background-size: cover;
}
.testimonial-img-2 { 
    @extend .testimonial-img;
    background: url("../assets/testimonial-2.jpeg") no-repeat; 
    background-size: cover;
}

.title-padding {
    margin: 0.5% 0 0 5%;
    position: absolute;

    .title {
        font-size: $font-size-24px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .post {
        display: block;
        font-size: $font-size-14px;
    }
    //mixin for bottom border under testimonial description box
    @include border-radius-color(70px, $font-color-black);
}
/********************************* Style for testimonial ********************************/