@charset "UTF-8";
/***************************** Custom grid style for the web page *****************************/
.border-box {
  padding: 8%;
  text-align: justify;
  margin: 4%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1800px) {
  .row .col-xl-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-xl-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-xl-3 {
    flex: 0 0 25%;
  }
  .row .col-xl-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-xl-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-xl-6 {
    flex: 0 0 50%;
  }
  .row .col-xl-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-xl-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-xl-9 {
    flex: 0 0 75%;
  }
  .row .col-xl-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-xl-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-xl-12 {
    flex: 0 0 100%;
  }
}
@media (max-width: 1400px) {
  .row .col-xl-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-xl-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-xl-3 {
    flex: 0 0 25%;
  }
  .row .col-xl-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-xl-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-xl-6 {
    flex: 0 0 50%;
  }
  .row .col-xl-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-xl-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-xl-9 {
    flex: 0 0 75%;
  }
  .row .col-xl-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-xl-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-xl-12 {
    flex: 0 0 100%;
  }
}
@media (max-width: 1024px) {
  .row .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-lg-3 {
    flex: 0 0 25%;
  }
  .row .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-lg-6 {
    flex: 0 0 50%;
  }
  .row .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-lg-9 {
    flex: 0 0 75%;
  }
  .row .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-lg-12 {
    flex: 0 0 100%;
  }
}
@media (max-width: 768px) {
  .row .col-md-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-md-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-md-3 {
    flex: 0 0 25%;
  }
  .row .col-md-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-md-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-md-6 {
    flex: 0 0 50%;
  }
  .row .col-md-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-md-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-md-9 {
    flex: 0 0 75%;
  }
  .row .col-md-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-md-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-md-12 {
    flex: 0 0 100%;
  }
}
@media (max-width: 540px) {
  .row .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-sm-3 {
    flex: 0 0 25%;
  }
  .row .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-sm-6 {
    flex: 0 0 50%;
  }
  .row .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-sm-9 {
    flex: 0 0 75%;
  }
  .row .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-sm-12 {
    flex: 0 0 100%;
  }
}
@media (max-width: 480px) {
  .row .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-sm-3 {
    flex: 0 0 25%;
  }
  .row .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-sm-6 {
    flex: 0 0 50%;
  }
  .row .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-sm-9 {
    flex: 0 0 75%;
  }
  .row .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-sm-12 {
    flex: 0 0 100%;
  }
}
@media (max-width: 360px) {
  .row .col-xs-1 {
    flex: 0 0 8.3333333333%;
  }
  .row .col-xs-2 {
    flex: 0 0 16.6666666667%;
  }
  .row .col-xs-3 {
    flex: 0 0 25%;
  }
  .row .col-xs-4 {
    flex: 0 0 33.3333333333%;
  }
  .row .col-xs-5 {
    flex: 0 0 41.6666666667%;
  }
  .row .col-xs-6 {
    flex: 0 0 50%;
  }
  .row .col-xs-7 {
    flex: 0 0 58.3333333333%;
  }
  .row .col-xs-8 {
    flex: 0 0 66.6666666667%;
  }
  .row .col-xs-9 {
    flex: 0 0 75%;
  }
  .row .col-xs-10 {
    flex: 0 0 83.3333333333%;
  }
  .row .col-xs-11 {
    flex: 0 0 91.6666666667%;
  }
  .row .col-xs-12 {
    flex: 0 0 100%;
  }
}
.row .background-odd {
  background-color: #4e4e4e;
  color: #fff;
  border-radius: 10px;
}
.row .background-odd:hover {
  box-shadow: 5px 5px 8px grey;
}
.row .background-even {
  background-color: pink;
  box-shadow: 5px 5px 8px grey;
}
.row .background-even:hover {
  box-shadow: 0 0 0;
  border-radius: 10px;
}

/***************************** Custom grid style for the web page *****************************/
/***************************** Footer style for the web page *****************************/
footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #4e4e4e;
  color: #999999;
  margin-top: 5%;
}
footer h4 {
  color: pink;
}
footer .content-ml {
  margin-left: 25%;
}
footer p {
  line-height: 24px;
}
footer ul {
  list-style-type: none;
  margin-left: -15%;
  line-height: 24px;
}
footer ul li:hover, footer ul .social-li .social-media-icons:hover, footer .social-li ul .social-media-icons:hover {
  color: pink;
  cursor: pointer;
}
footer .social-li {
  display: inline;
}
footer .social-li .social-media-icons {
  background-color: #999999;
  padding: 2% 3%;
  border-radius: 5px;
  margin: 0 2%;
  color: #363636;
}
footer .copyright {
  background-color: #363636;
  color: #999999;
}

/***************************** Footer style for the web page *****************************/
/***************************** Common css classes for the web page *****************************/
.m0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.transition-4s {
  transition: 0.4s;
}

.width-100 {
  width: 100%;
}

/***************************** Common css classes for the web page *****************************/
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.banner-image {
  height: auto;
}

/***************************** Common style for the web page *****************************/
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
}

h2 {
  font-size: 30px;
  margin: 5% 0 1% 0;
}
h2:after {
  content: "";
  width: 7%;
  position: absolute;
  left: 46%;
  padding-top: 2.5%;
  border-bottom: 4px solid #b2364a;
}

/***************************** Common style for the web page *****************************/
/********************************* Style for testimonial ********************************/
.description {
  background: #e6e6e6;
  font-size: 14px;
  line-height: 26px;
  text-indent: 30px;
  position: relative;
  border-bottom: 4px solid #b2364a;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  color: #363636;
}
.description:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: -15px;
}

.testimonial-img, .testimonial-img-2, .testimonial-img-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5%;
  border-bottom: 4px solid #b2364a;
}

.testimonial-img-1 {
  background: url("../assets/testimonial-1.jpg") no-repeat;
  background-size: cover;
}

.testimonial-img-2 {
  background: url("../assets/testimonial-2.jpeg") no-repeat;
  background-size: cover;
}

.title-padding {
  margin: 0.5% 0 0 5%;
  position: absolute;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  color: #363636;
}
.title-padding .title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-padding .post {
  display: block;
  font-size: 14px;
}

/********************************* Style for testimonial ********************************/
/********************************* Responsiveness ********************************/
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  h2 {
    font-size: 20px;
  }
  h2:after {
    padding-top: 2.3%;
  }

  .title-padding {
    margin: 0.5% 0 0 6%;
  }
}
@media (max-width: 1024px) {
  h1 {
    top: 20%;
  }

  h2:after {
    padding-top: 3.8%;
    width: 12%;
    left: 44%;
  }

  .border-box {
    font-size: small;
    text-align: center;
  }

  .description {
    line-height: 15px;
  }

  .title-padding {
    margin: 0.5% 0 0 6%;
  }

  footer .border-box {
    margin: 0;
    padding: 0 8%;
  }
  footer .content-ml {
    margin-left: 0;
  }
  footer p {
    line-height: 12px;
    font-size: smaller;
  }
  footer ul {
    line-height: 12px;
    margin-left: -40px;
    font-size: smaller;
  }

  .copyright {
    font-size: smaller;
  }
}
@media (max-width: 768px) {
  h1 {
    top: 20%;
  }

  h2:after {
    padding-top: 3.8%;
    width: 12%;
    left: 44%;
  }

  .border-box {
    font-size: small;
    text-align: center;
  }

  .description {
    line-height: 15px;
  }

  .testimonial-img, .testimonial-img-1, .testimonial-img-2 {
    width: 30px;
    height: 30px;
  }

  .title-padding .title {
    font-size: 14px;
  }
  .title-padding .post {
    font-size: 8px;
  }

  footer .border-box {
    margin: 0;
    padding: 0 8%;
  }
  footer .content-ml {
    margin-left: 0;
  }
  footer p {
    line-height: 12px;
    font-size: x-small;
  }
  footer ul {
    line-height: 12px;
    margin-left: -40px;
    font-size: x-small;
  }

  .copyright {
    font-size: smaller;
  }
}
@media only screen and (min-width: 540px) and (max-width: 767px) {
  h1 {
    font-size: 50px;
    top: 20%;
  }

  h2:after {
    padding-top: 5.8%;
    width: 12%;
    left: 44%;
  }

  .border-box {
    font-size: small;
    text-align: center;
  }

  .description {
    line-height: 15px;
  }

  .testimonial-img, .testimonial-img-1, .testimonial-img-2 {
    width: 30px;
    height: 30px;
  }

  .title-padding {
    margin: 1.5% 0 0 7%;
  }
  .title-padding .title {
    font-size: 14px;
  }
  .title-padding .post {
    font-size: 8px;
  }

  footer .border-box {
    margin: 0;
    padding: 0 8%;
  }
  footer .content-ml {
    margin-left: 0;
  }
  footer p {
    line-height: 12px;
    font-size: x-small;
  }
  footer ul {
    line-height: 12px;
    margin-left: -40px;
    font-size: x-small;
  }

  .copyright {
    font-size: smaller;
  }
}
@media only screen and (min-width: 481px) and (max-width: 539px) {
  h1 {
    font-size: 30px;
    top: 16%;
  }

  h2 {
    font-size: 20px;
  }
  h2:after {
    padding-top: 5.8%;
    width: 12%;
    left: 44%;
  }

  .title-padding {
    margin: 1.5% 0 0 7%;
  }
  .title-padding .title {
    font-size: 12px;
  }
  .title-padding .post {
    font-size: 8px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  h1 {
    font-size: 30px;
    top: 16%;
  }

  h2 {
    font-size: 20px;
  }
  h2:after {
    padding-top: 5.8%;
    width: 12%;
    left: 44%;
  }

  .border-box {
    font-size: xx-small;
    text-align: center;
  }

  .description {
    line-height: 12px;
    padding: 11%;
  }

  .testimonial-img, .testimonial-img-1, .testimonial-img-2 {
    width: 30px;
    height: 30px;
  }

  .title-padding {
    margin: 1.5% 0 0 10%;
  }
  .title-padding .title {
    font-size: 12px;
  }
  .title-padding .post {
    font-size: 8px;
  }

  footer .border-box {
    margin: 0;
    padding: 0 8%;
  }
  footer .content-ml {
    margin-left: 0;
  }
  footer p {
    line-height: 12px;
    font-size: x-small;
  }
  footer ul {
    line-height: 12px;
    margin-left: -40px;
    font-size: x-small;
  }

  .copyright {
    font-size: smaller;
  }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  h1 {
    font-size: 30px;
    top: 16%;
  }

  h2 {
    font-size: 20px;
  }
  h2:after {
    padding-top: 6.5%;
    width: 12%;
    left: 44%;
  }

  .border-box {
    font-size: x-small;
    text-align: center;
  }

  .description {
    line-height: 12px;
    padding: 11%;
  }

  .testimonial-img, .testimonial-img-1, .testimonial-img-2 {
    width: 30px;
    height: 30px;
  }

  .title-padding {
    margin: 1.5% 0 0 10%;
  }
  .title-padding .title {
    font-size: 12px;
  }
  .title-padding .post {
    font-size: 8px;
  }

  footer .border-box {
    margin: 0;
    padding: 0 8%;
  }
  footer .content-ml {
    margin-left: 0;
  }
  footer p {
    line-height: 12px;
    font-size: x-small;
  }
  footer ul {
    line-height: 12px;
    margin-left: -40px;
    font-size: x-small;
  }

  .copyright {
    font-size: smaller;
  }
}
/********************************* Responsiveness ********************************/

/*# sourceMappingURL=style.css.map */
